<section class="about-banner">
    <div class="section__container">
        <div class="about-banner__item">
            <div class="about-banner__item-title">
                Russell Group
            </div>
            <p class="about-banner__item-content">
                We only hire tutors who currently attend the best universities in the UK.
            </p>
        </div>
        <div class="about-banner__item">
            <div class="about-banner__item-title">
                10 A*s
            </div>
            <p class="about-banner__item-content">
                All of our tutors achieved 10 or more A*s at GCSE.
            </p>
        </div>
        <div class="about-banner__item">
            <div class="about-banner__item-title">
                48 hours
            </div>
            <p class="about-banner__item-content">
                The average time it takes for us to assign you the perfect tutor, and start your lessons.
            </p>
        </div>
    </div>
</section>