<section class="contact">
    <div class="section__container">
        <div class="form__container">
            <div class="section__heading">
                <p>start your learning journey now...</p>
                <h2>Get In Touch!</h2>
            </div>
            <p class="form__description">Send us a short message explaining your current learning situation, the support you’re looking for, and a member of our team will respond to pair you with a tutor. We look forward to hearing from you!</p>
            <form action="https://formsubmit.co/efbc848abdd6af60996a4ac7dee922b4" method="post" class="form">
                <div class="form__area">
                    <div class="input-box">
                        <label for="first-name" class="input-label">First name</label>
                        <input type="text" name='first-name' id="first-name" class="input-field" required>
                    </div>
                    <div class="input-box">
                        <label for="surname" class="input-label">Surname</label>
                        <input type="text" name='surname' id="surname" class="input-field" required>
                    </div>
                    <div class="input-box">
                        <label for="email" class="input-label">Email</label>
                        <input type="text" name='email' id="email" class="input-field" required>
                    </div>
                    <div class="input-box">
                        <label for="year-group" class="input-label">Year group</label>
                        <input type="number" name='year-group' id="year-group" class="input-field" required>
                    </div>
                    <div class="input-box">
                        <label for="subject" class="input-label">Subject</label>
                        <input type="text" name='subject' id="subject " class="input-field" required>
                    </div>
                </div>
                <div class="form__area">
                    <div class="input-box">
                        <label for="message">Message</label>
                        <textarea name='message' id="message" cols="30" rows="15" class="input-field"></textarea>
                    </div>
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>