<section class="home-hero">
    <div class="section__container">
        <div class="home-hero__content">
            <div class="section__heading">
                <p>discover your potential</p>
                <h1><span>Bespoke</span> Online Tuition Helping <span>You</span> To Reach The <span>Next</span> Level!</h1>
            </div>
            <p class="home-hero__description">
                Our tried and tested methods of tuition have led to countless success stories. From straight A*s at GCSE to acceptance at the UK’s top universities, we can help you reach new heights, no matter your circumstance.
            </p>
        </div>
        <div id="home-hero__img" class="image"></div>
    </div>
</section>