<div class="services" id="what-we-offer">
    <div class="section__container">
        <div class="section__heading">
            <p>services</p>
            <h2>What do we offer?</h2>
        </div>
        <div class="service-card card">
            <img src="/assets/images/gcse_student.jpeg" alt="GCSE student" class="image">
            <h3 class="service-card__heading">GCSE Tutoring</h3>
            <ul class="service-card__list">
                <li>Benefit 1</li>
                <li>Benefit 1</li>
                <li>Benefit 1</li>
            </ul>
            <div class="service-card__price">£10/HR</div>
        </div>
        <div class="service-card card">
            <img src="/assets/images/a_level_student.jpeg" alt="A-level student" class="image">
            <h3 class="service-card__heading">A-level Tutoring</h3>
            <ul class="service-card__list">
                <li>Benefit 1</li>
                <li>Benefit 1</li>
                <li>Benefit 1</li>
            </ul>
            <div class="service-card__price">£10/HR</div>
        </div>
        <div class="service-card card">
            <img src="/assets/images/university_student.jpeg" alt="University student" class="image">
            <h3 class="service-card__heading">University Mentoring</h3>
            <ul class="service-card__list">
                <li>Benefit 1</li>
                <li>Benefit 1</li>
                <li>Benefit 1</li>
            </ul>
            <div class="service-card__price">£10/HR</div>
        </div>
    </div>
</div>