<section class="why-us-hero" id="why-choose-us">
    <div class="section__container">
        <div class="section__heading">
            <p>benefits</p>
            <h2>Why Choose <span>Us?</span></h2>
        </div>
        <div class="review-card card">
            <img src="/assets/images/review_card_1.jpeg" alt="Happy student" class="review-card__img image">
            <blockquote>My tutor knew exactly what I needed!</blockquote>
            <p>This is a section which will expand on the positive statement above.</p>
        </div>
        <div class="review-card card">
            <img src="/assets/images/review_card_2.jpeg" alt="Happy student" class="review-card__img image">
            <blockquote>My tutor knew exactly what I needed!</blockquote>
            <p>This is a section which will expand on the positive statement above.</p>
        </div>
        <div class="review-card card">
            <img src="/assets/images/review_card_3.jpeg" alt="Happy student" class="review-card__img image">
            <blockquote>My tutor knew exactly what I needed!</blockquote>
            <p>This is a section which will expand on the positive statement above.</p>
        </div>
    </div>
</section>