.footer {
    background-image: $primary-gradient;
    color: white;
    text-align: center;

    &__section {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        gap: $gap;

        a {
            color: white;
        }
        img {
            width: 100%;
        }
    }
}
@media (max-width: $screen-sm) {
    .footer__section {
        grid-column: span 3;
        &:first-child {
            grid-column: 2 / 6;
        }
    }
}