.services {
    .section__heading {
        grid-column: span 6;
        text-align: right;
    }

    .service-card {
        grid-column: span 2;

        &__heading {
            text-align: center;
            font-size: 1.5rem;
            font-family: $font-accent;
            font-weight: 400;
            text-transform: uppercase;
            color: $secondary-500;
        }

        &__list {
            margin: 0;
            padding: 0;
        }
    }
}