.why-us-hero {
    .section__heading {
        grid-column: span 6;
        text-align: center;
    }
    .review-card {
        grid-column: span 2;

        &__img {
            width: 80%;
        }
    }
}