<footer class="footer">
    <div class="section__container">
        <div class="footer__section">
            <img src="assets/images/logo_alt.svg" alt="Logo">
            <p>Innovative teaching techniques with a track record of success.</p>
        </div>
        <div class="footer__section">
            <a href="#home">Home</a>
            <a href="#why-choose-us">Why Choose Us?</a>
            <a href="#what-we-offer">What We Offer</a>
            <a href="#contact">Contact Us</a>
        </div>
        <div class="footer__section">
            <a href="#">Careers</a>
            <a href="#">FAQs</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Policy</a>
        </div>
    </div>
</footer>