<header class="primary-header">
    <a href="#"><img src="assets/images/logo.svg" alt="Logo"></a>
    
    <input type="checkbox" id="primary-header__input">
    <label for="primary-header__input" class="primary-header__icons">
        <i class='bx bx-menu-alt-right' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
    </label>

    <nav class="primary-header__nav">
        <a href="#home">Home</a>
        <a href="#why-choose-us">Why Choose Us?</a>
        <a href="#what-we-offer">What We Offer</a>
        <a href="#contact">Contact Us</a>
    </nav>
</header>